<!DOCTYPE html>
<html>
	<head> 
		<link rel = "stylesheet" href = "styles/style.css" />
		<link rel = "stylesheet" href = "toastr/toastr.min.css" />

		<script src = "https://code.jquery.com/jquery-3.3.1.min.js" integrity = "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin = "anonymous"> </script>
		<script type = "text/javascript" src = "toastr/toastr.min.js"> </script>
		<script type = "text/javascript" src = "socket.io/socket.io.js"></script>
		<script type = "text/javascript" src = "scripts/connection.js"></script>
		<script type = "text/javascript" src = "scripts/game.js"></script>
	</head>

	<body>
		<table class = "grid">
			<tr>
				<td> <button id = "B0-0"></button> </td>
				<td> <button id = "B0-1"></button> </td>
				<td> <button id = "B0-2"></button> </td>
				<td> <button id = "B0-3"></button> </td>
				<td> <button id = "B0-4"></button> </td>
				<td> <button id = "B0-5"></button> </td>
				<td> <button id = "B0-6"></button> </td>
				<td> <button id = "B0-7"></button> </td>
				<td> <button id = "B0-8"></button> </td>
				<td> <button id = "B0-9"></button> </td>
			</tr>
			<tr>
				<td> <button id = "B1-0"></button> </td>
				<td> <button id = "B1-1"></button> </td>
				<td> <button id = "B1-2"></button> </td>
				<td> <button id = "B1-3"></button> </td>
				<td> <button id = "B1-4"></button> </td>
				<td> <button id = "B1-5"></button> </td>
				<td> <button id = "B1-6"></button> </td>
				<td> <button id = "B1-7"></button> </td>
				<td> <button id = "B1-8"></button> </td>
				<td> <button id = "B1-9"></button> </td>
			</tr>
			<tr>
				<td> <button id = "B2-0"></button> </td>
				<td> <button id = "B2-1"></button> </td>
				<td> <button id = "B2-2"></button> </td>
				<td> <button id = "B2-3"></button> </td>
				<td> <button id = "B2-4"></button> </td>
				<td> <button id = "B2-5"></button> </td>
				<td> <button id = "B2-6"></button> </td>
				<td> <button id = "B2-7"></button> </td>
				<td> <button id = "B2-8"></button> </td>
				<td> <button id = "B2-9"></button> </td>
			</tr>
			<tr>
				<td> <button id = "B3-0"></button> </td>
				<td> <button id = "B3-1"></button> </td>
				<td> <button id = "B3-2"></button> </td>
				<td> <button id = "B3-3"></button> </td>
				<td> <button id = "B3-4"></button> </td>
				<td> <button id = "B3-5"></button> </td>
				<td> <button id = "B3-6"></button> </td>
				<td> <button id = "B3-7"></button> </td>
				<td> <button id = "B3-8"></button> </td>
				<td> <button id = "B3-9"></button> </td>
			</tr>
			<tr>
				<td> <button id = "B4-0"></button> </td>
				<td> <button id = "B4-1"></button> </td>
				<td> <button id = "B4-2"></button> </td>
				<td> <button id = "B4-3"></button> </td>
				<td> <button id = "B4-4"></button> </td>
				<td> <button id = "B4-5"></button> </td>
				<td> <button id = "B4-6"></button> </td>
				<td> <button id = "B4-7"></button> </td>
				<td> <button id = "B4-8"></button> </td>
				<td> <button id = "B4-9"></button> </td>
			</tr>
			<tr>
				<td> <button id = "B5-0"></button> </td>
				<td> <button id = "B5-1"></button> </td>
				<td> <button id = "B5-2"></button> </td>
				<td> <button id = "B5-3"></button> </td>
				<td> <button id = "B5-4"></button> </td>
				<td> <button id = "B5-5"></button> </td>
				<td> <button id = "B5-6"></button> </td>
				<td> <button id = "B5-7"></button> </td>
				<td> <button id = "B5-8"></button> </td>
				<td> <button id = "B5-9"></button> </td>
			</tr>
			<tr>
				<td> <button id = "B6-0"></button> </td>
				<td> <button id = "B6-1"></button> </td>
				<td> <button id = "B6-2"></button> </td>
				<td> <button id = "B6-3"></button> </td>
				<td> <button id = "B6-4"></button> </td>
				<td> <button id = "B6-5"></button> </td>
				<td> <button id = "B6-6"></button> </td>
				<td> <button id = "B6-7"></button> </td>
				<td> <button id = "B6-8"></button> </td>
				<td> <button id = "B6-9"></button> </td>
			</tr>
			<tr>
				<td> <button id = "B7-0"></button> </td>
				<td> <button id = "B7-1"></button> </td>
				<td> <button id = "B7-2"></button> </td>
				<td> <button id = "B7-3"></button> </td>
				<td> <button id = "B7-4"></button> </td>
				<td> <button id = "B7-5"></button> </td>
				<td> <button id = "B7-6"></button> </td>
				<td> <button id = "B7-7"></button> </td>
				<td> <button id = "B7-8"></button> </td>
				<td> <button id = "B7-9"></button> </td>
			</tr>
			<tr>
				<td> <button id = "B8-0"></button> </td>
				<td> <button id = "B8-1"></button> </td>
				<td> <button id = "B8-2"></button> </td>
				<td> <button id = "B8-3"></button> </td>
				<td> <button id = "B8-4"></button> </td>
				<td> <button id = "B8-5"></button> </td>
				<td> <button id = "B8-6"></button> </td>
				<td> <button id = "B8-7"></button> </td>
				<td> <button id = "B8-8"></button> </td>
				<td> <button id = "B8-9"></button> </td>
			</tr>
			<tr>
				<td> <button id = "B9-0"></button> </td>
				<td> <button id = "B9-1"></button> </td>
				<td> <button id = "B9-2"></button> </td>
				<td> <button id = "B9-3"></button> </td>
				<td> <button id = "B9-4"></button> </td>
				<td> <button id = "B9-5"></button> </td>
				<td> <button id = "B9-6"></button> </td>
				<td> <button id = "B9-7"></button> </td>
				<td> <button id = "B9-8"></button> </td>
				<td> <button id = "B9-9"></button> </td>
			</tr>
		</table>

		<strong> Game Panel </strong>
		<table class = "score">
			<tbody>
				<tr>
					<th>
						<strong> Player 1 </strong>
					</th>
					<td>
						<p id = "p1score"> </p>
					</td>
				</tr>


				<tr>
					<th>
						<strong> Player 2 </strong>
					</th>
					<td>
						<p id = "p2score"> </p>
					</td>
				</tr>
			</tbody>
		</table>
		<p id = "gameStatus"> </p>
	</body>
</html>